/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.status-success {
  color: #00a32a;
}

.status-warning {
  color: #dba617;
}

.status-error {
  color: #d63638;
}

.status-info {
  color: #72aee6;
}

.oms-coupon-code {
  text-transform: uppercase;
  font-weight: 700;
}

.oms-coupon-shortcode {
  color: silver;
  cursor: pointer;
}

.oms-coupon-shortcode:focus,
.oms-coupon-shortcode:hover {
  color: #135e96;
}
